
@font-face {
    font-family: 'horizon';
    src: url('font/horizon.otf');
}

:root{
    font-family: horizon, sans-serif;
}


body{

    background-image:url('media/ManchesterKontravoid23.PNG'); /* put rhys in the gutter (nurk)*/
    background-position: center top;
    background-attachment: fixed;
    color: black;
    /* put everything in a center column */
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


a:link{
    color:white;
}
a:visited{
    color: grey;
}
a:hover {

}
a:active {

}



.mainContainer{
    /* max-width : 1079px; */
    /* max-width: 1500px; */
    min-height: 100vh;
    background-color: #a81c1f;
    display:grid;
    position: relative;
    margin: auto;
    grid-template-columns: 500px 500px 500px;
    grid-auto-rows: 100%;
    gap: 10px;
    grid-template-areas: 
                        "header header socials"
                        "header header words2"
                        "pic1 words1 logo"
                        "pic1 words1 asqn2"
                        "pic1 asqn asqn2"
                        "words3 words3 pic2"
                        "upcoming upcoming pic2"

    ;
    /* border:1px solid greenyellow; */ /* remove */

}






/* .mainContainer section{
    border:1px solid greenyellow; 
} */
header{
    /* border:1px solid greenyellow;  */
}
.pics img{
    width: 100%;
}

header{
    
    grid-area:header;
}
header img{
    width: 100%;
}
.socials{
    grid-area:socials;
    line-height: 2em;

}
.words1{
    /* let ther be meat */
    grid-area:words1;
}
.words2{
    /* ngry, sweaty, queer noise from a */
    grid-area:words2;
    font-size: 2rem;
    color: white;
    background-color: black;
    mix-blend-mode: multiply;

}
.words2 p{
    background: url("media/Studio 2022.PNG");
    background-position: top right;
	background-size: cover;
}
.words3{
    /* OPENING SALVO */
    grid-area:words3;
}
.pic1{
    grid-area:pic1;
}
.pic2{
    grid-area:pic2;
}
.upcoming{
    grid-area:upcoming;
    
}
.upcoming img {width:100%}
.asqn{
    grid-area:asqn;
    font-size:1.2em;
    line-height:20%;
    text-shadow: 0 10px 0px #38090A, 0 20px 0px #4E0D0E, 0 30px 0px #641112, 0 45px 0px #7A1416, 0 60px 0px #8F181A;
}

.ltbm{
    grid-area:asqn2;
    background-color: black;
    color: #a81c1f;
    font-size: 5em;
}
.logo{
    grid-area:logo;
 }

.meat {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #cf1b1b;
    /* font-size: 124px; */
    letter-spacing: 8px;
    cursor: pointer;
  }
  
  .meat::before {
    content: "LET THERE BE MEAT";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      #641112 2px,
      #641112 4px
    );
    -webkit-background-clip: text;
    top: 10px;
    left: 10px;
    z-index: -1;
    transition: 1s;
      top: 10px;
  left: 10px;
  }
  
 .meat::after {
    content: "LET THERE BE MEAT";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      grey 2px,
      grey 4px
    );
    -webkit-background-clip: text;
    top: -10px;
    left: -10px;
    transition: 1s;
  }

  /*responsive bits*/
@media only screen and (max-width: 1520px) and (min-width:1011px){
.mainContainer{
    grid-template-columns: 500px 500px;
    grid-auto-rows: 100%;
    gap: 10px;
    grid-template-areas: 
                        "header header "
                        "header header "
                        "socials words2"
                        "words1 words1"
                        "pic1 logo"
                        "pic1 asqn2"
                        "words3 pic2"
                        "asqn pic2"
                        "upcoming upcoming"

}
}
@media only screen and (max-width: 1010px){
    .mainContainer{
        grid-template-columns: 500px;
        grid-auto-rows: 100%;
        gap: 10px;
        grid-template-areas: 
                            "logo"
                            "socials" 
                            "words2"
                            "words1"
                            "pic1 "
                            "pic1 "
                            "asqn2"
                            "words3"
                            "pic2"
                            "asqn"
                            "upcoming"
    
    }
    header{
        display:none;
    }
} 


  